/* Make text look crisper and more legible in all browsers */
body {
    background-color: #f7f4f3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-wrap: pretty;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
    outline: 0.125rem solid #4d65ff;
    outline-offset: 0.125rem;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child,
.w-richtext > div:first-child > :first-child {
    margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
    margin-bottom: 0 !important;
}

/* Prevent all click and hover interaction with an element */
.pointer-events-off {
    pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
    pointer-events: auto;
}

/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small,
.container-large {
    margin-right: auto !important;
    margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/

a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

/* Apply "..." after 3 lines of text */
.text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
    display: inline-flex;
}

/* These classes are never overwritten */
.hide {
    display: none !important;
}

@media screen and (max-width: 991px) {
    .hide,
    .hide-tablet {
        display: none !important;
    }
}
@media screen and (max-width: 767px) {
    .hide-mobile-landscape {
        display: none !important;
    }
}
@media screen and (max-width: 479px) {
    .hide-mobile {
        display: none !important;
    }
}

.margin-0 {
    margin: 0rem !important;
}

.padding-0 {
    padding: 0rem !important;
}

.spacing-clean {
    padding: 0rem !important;
    margin: 0rem !important;
}

.margin-top {
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
}

.padding-top {
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.margin-right {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
}

.padding-right {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.margin-bottom {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.padding-bottom {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.margin-left {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
}

.padding-left {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
}

.margin-horizontal {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.padding-horizontal {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.margin-vertical {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.padding-vertical {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

/* -------------------------------------------------------------------------- */
/*                           Start of Custom Styles                           */
/* -------------------------------------------------------------------------- */

/* ----------------------------- Global defaults ---------------------------- */

/* Fluid font size */
html {
    font-size: 1.0625rem;
}
@media screen and (max-width: 1920px) {
    html {
        font-size: calc(0.8125rem + 0.20833333333333337vw);
    }
}
@media screen and (max-width: 1440px) {
    html {
        font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
    }
}
@media screen and (max-width: 479px) {
    html {
        font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
    }
}

.e_dd-open:has(.e_dd-open_parent.w--open) .e_dd-open {
    filter: grayscale(80%) blur(5px) !important;
}

/* Prevent image selection color when making selections. */
img::selection {
    background: transparent;
}

/* ---------------------------------- Text ---------------------------------- */

/* Text Truncate */
.u_truncate,
.u-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/*                                   Effects                                  */
/* -------------------------------------------------------------------------- */

.mask-to-bottom {
    mask-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.mask-to-top {
    mask-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 100%,
        rgba(255, 255, 255, 1) 0%
    );
}

.e_box-shadow {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

/* -------------------------------------------------------------------------- */
/*                               Utility classes                              */
/* -------------------------------------------------------------------------- */

.custom_code {
    display: none;
}

.no-underline {
    text-decoration: none !important;
}

/* -------------------------------- Animation ------------------------------- */

/* Animation to fade other elements in a grid when one grid item is hovered. Must have classes
applied to work! */
.a_fade-others-parent:has(.a_fade-others:hover) .a_fade-others:not(:hover) {
    filter: brightness(50%);
    transition: filter 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
}

/* Provides a standard easing for all properties */
.a_global-ease {
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Hover animation to change opacity to 70% */
.a_hover-70 {
    transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.a_hover-70:hover {
    opacity: 75%;
}

/* -------------------------------------------------------------------------- */
/*                                Site Specific                               */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Utility -------------------------------- */

.spacer-10px {
    height: 10px;
    width: 100%;
    background: none;
    background-color: none;
}

.spacer-16px {
    height: 1rem;
    width: 100%;
    background: none;
    background-color: none;
}

.spacer-32px {
    height: 2rem;
    width: 100%;
    background: none;
    background-color: none;
}

.container-large {
    max-width: 64rem;
}

.container-medium {
    max-width: 32rem;
}

.container-small {
    max-width: 16rem;
}

.container-tiny {
    max-width: 8rem;
}

.margin-center {
    margin: 0 auto;
}

/* ---------------------------------- Text ---------------------------------- */

/* Remove underline from headings */
.fl-heading a {
    text-decoration: none !important;
}

.bold-inline-title {
    font-weight: 800;
    letter-spacing: 0px;
}

/* ------------------------------ Global header ----------------------------- */

.menu-item, .fl-has-submenu-container a, .menu-item-object-custom a, .current_page_parent a, .menu-item-object-page a {
    font-weight: 400 !important;
    text-decoration: unset !important;
}

/* ---------------------------------- Hero ---------------------------------- */

/* .img-move-right {
    transform: translateX(10%);
}


.hero_img, .img-move-left {
    transform: translateX(-10%);
} */

@media screen and (max-width: 768px) {
    #heroImage {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

/* ---------------------------- Homepage services --------------------------- */

.services_heading-description {
    margin-top: 1rem !important;
}

.pp-hover-card-container {
	border-radius: 8px;
	border-top-left-radius: 8px !important;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
	cursor: pointer;
}

.pp-hover-card-container:hover {
	transform: translatey(-8px);
	transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pp-hover-card:hover {
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.pp-hover-card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(56, 87, 173, 0.4);
    mix-blend-mode: multiply;
}

.pp-hover-card-title > h3 {
	color: white !important;
	text-shadow: unset;
}

.cards-center div div.pp-hover-card-wrap {
    display: flex;
    justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                                Service Pages                               */
/* -------------------------------------------------------------------------- */

.sticky-img_container {
    position: relative;
}

.sticky-img_img {
    position: sticky;
    top: 1rem;
}