/* -------------------------------------------------------------------------- */
/*                              Previous defaults                             */
/* -------------------------------------------------------------------------- */

/* Make text look crisper and more legible in all browsers */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-wrap: pretty;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
    outline: 0.125rem solid #4d65ff;
    outline-offset: 0.125rem;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child,
.w-richtext > div:first-child > :first-child {
    margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
    margin-bottom: 0 !important;
}

/* Prevent all click and hover interaction with an element */
.pointer-events-off {
    pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
    pointer-events: auto;
}

/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small,
.container-large {
    margin-right: auto !important;
    margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/

/* a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
} */

/* Apply "..." after 3 lines of text */
.text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
    display: inline-flex;
}

/* These classes are never overwritten */
.hide {
    display: none !important;
}

@media screen and (max-width: 991px) {
    .hide,
    .hide-tablet {
        display: none !important;
    }
}
@media screen and (max-width: 767px) {
    .hide-mobile-landscape {
        display: none !important;
    }
}
@media screen and (max-width: 479px) {
    .hide-mobile {
        display: none !important;
    }
}

.margin-0 {
    margin: 0rem !important;
}

.padding-0 {
    padding: 0rem !important;
}

.spacing-clean {
    padding: 0rem !important;
    margin: 0rem !important;
}

.margin-top {
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
}

.padding-top {
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.margin-right {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
}

.padding-right {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.margin-bottom {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.padding-bottom {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.margin-left {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
}

.padding-left {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
}

.margin-horizontal {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.padding-horizontal {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.margin-vertical {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.padding-vertical {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

/* -------------------------------------------------------------------------- */
/*                           Start of Custom Styles                           */
/* -------------------------------------------------------------------------- */

/* ----------------------------- Global defaults ---------------------------- */

/* Fluid font size */
html {
    font-size: 1rem;
}
@media screen and (max-width: 1920px) {
    html {
        font-size: calc(0.8125rem + 0.2vw);
    }
}
@media screen and (max-width: 1440px) {
    html {
        font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
    }
}
@media screen and (max-width: 479px) {
    html {
        font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
    }
}

.e_dd-open:has(.e_dd-open_parent.w--open) .e_dd-open {
    filter: grayscale(80%) blur(5px) !important;
}

/* Prevent image selection color when making selections. */
img::selection {
    background: transparent;
}

/* Restore default link styling */
a {
    text-decoration: underline;
    transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

a:hover {
    opacity: 80%;
}

/* ---------------------------------- Text ---------------------------------- */

/* Text Truncate */
.u_truncate,
.u-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/*                                   Effects                                  */
/* -------------------------------------------------------------------------- */

.mask-to-bottom {
    mask-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.mask-to-top {
    mask-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 100%,
        rgba(255, 255, 255, 1) 0%
    );
}

/* -------------------------------------------------------------------------- */
/*                                 Animations                                 */
/* -------------------------------------------------------------------------- */

@keyframes slideup {
  from {opacity: 0; transform: translateY(100%);}
  to {opacity: 1; transform: translateY(0%);}
}

@keyframes scaleup {
  from {opacity: 0; transform: scale(0.5);}
  to {opacity: 1; transform: scale(1);}
}

@keyframes loop-spin {
  to {transform: rotate(360deg);}
}

@keyframes loop-move-left {
  to {transform: translateX(-100%);}
}

/* pause child animations on hover */
[data-hover-pause] * {animation-play-state: running;}
[data-hover-pause]:hover * {animation-play-state: paused;}

/* play child animations on hover */
[data-hover-play] * {animation-play-state: paused;}
[data-hover-play]:hover * {animation-play-state: running;}

/* stagger */
:root {--i: 0}
[data-stagger-list] > *:nth-child(1) {--i: 0}
[data-stagger-list] > *:nth-child(2) {--i: 1}
[data-stagger-list] > *:nth-child(3) {--i: 2}
[data-stagger-list] > *:nth-child(4) {--i: 3}
[data-stagger-list] > *:nth-child(5) {--i: 4}
[data-stagger-list] > *:nth-child(6) {--i: 5}
[data-stagger-list] > *:nth-child(7) {--i: 6}
[data-stagger-list] > *:nth-child(8) {--i: 7}
[data-stagger-list] > *:nth-child(9) {--i: 8}
[data-stagger-list] > *:nth-child(10) {--i: 9}
[data-stagger-list] > *:nth-child(11) {--i: 10}
[data-stagger-list] > *:nth-child(12) {--i: 11}
[data-stagger-list] > *:nth-child(13) {--i: 12}
[data-stagger-list] > *:nth-child(14) {--i: 13}
[data-stagger-list] > *:nth-child(15) {--i: 14}
[data-stagger-list] > *:nth-child(16) {--i: 15}
[data-stagger-list] > *:nth-child(17) {--i: 16}
[data-stagger-list] > *:nth-child(18) {--i: 17}
[data-stagger-list] > *:nth-child(19) {--i: 18}
[data-stagger-list] > *:nth-child(20) {--i: 19}
[data-stagger-list] > *:nth-child(21) {--i: 20}
[data-stagger-list] > *:nth-child(22) {--i: 21}
[data-stagger-list] > *:nth-child(23) {--i: 22}
[data-stagger-list] > *:nth-child(24) {--i: 23}
[data-stagger-list] > *:nth-child(25) {--i: 24}
[data-stagger-list] > *:nth-child(26) {--i: 25}
[data-stagger-list] > *:nth-child(27) {--i: 26}
[data-stagger-list] > *:nth-child(28) {--i: 27}
[data-stagger-list] > *:nth-child(29) {--i: 29}
[data-stagger-list] > *:nth-child(30) {--i: 29}
[data-stagger-list] > *:nth-child(31) {--i: 30}
[data-stagger-list] > *:nth-child(32) {--i: 31}
[data-stagger-list] > *:nth-child(33) {--i: 32}
[data-stagger-list] > *:nth-child(34) {--i: 33}
[data-stagger-list] > *:nth-child(35) {--i: 34}
[data-stagger-list] > *:nth-child(36) {--i: 35}
[data-stagger-list] > *:nth-child(37) {--i: 36}
[data-stagger-list] > *:nth-child(38) {--i: 37}
[data-stagger-list] > *:nth-child(39) {--i: 38}
[data-stagger-list] > *:nth-child(40) {--i: 39}
[data-stagger-list] > *:nth-child(41) {--i: 40}
[data-stagger-list] > *:nth-child(42) {--i: 41}
[data-stagger-list] > *:nth-child(43) {--i: 42}
[data-stagger-list] > *:nth-child(44) {--i: 43}
[data-stagger-list] > *:nth-child(45) {--i: 44}
[data-stagger-list] > *:nth-child(46) {--i: 45}
[data-stagger-list] > *:nth-child(47) {--i: 46}
[data-stagger-list] > *:nth-child(48) {--i: 47}
[data-stagger-list] > *:nth-child(49) {--i: 48}
[data-stagger-list] > *:nth-child(50) {--i: 49}

/* -------------------------------------------------------------------------- */
/*                               Utility classes                              */
/* -------------------------------------------------------------------------- */

.custom_code {
    display: none;
}

/* Removes default link styling */
a.u_unset {
    color: inherit;
    text-decoration: unset;
}

/* Hides element in design mode but shows on published site */
.wf-design-mode .example_wf-design-mode {
    display: none;
}

/* -------------------------------- Animation ------------------------------- */

/* Animation to fade other elements in a grid when one grid item is hovered. Must have classes
applied to work! */
.a-fade-others-parent:has(.a-fade-others:hover) .a-fade-others:not(:hover) {
    filter: brightness(50%);
    transition: filter 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
}

/* Provides a standard easing for all properties */
.a-global-ease {
    transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Hover animation to change opacity to 70% */
.a-hover-70 {
    transition: opacity 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.a-hover-70:hover {
    opacity: 75%;
}

/* -------------------------------------------------------------------------- */
/*                                   Buttons                                  */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Shift --------------------------------- */

.bs-shift {
    position: relative;
    z-index: 1;
}
.bs-shift ul li a:hover {
    color: #91640f;
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: #f1c40f;
    visibility: none;
    opacity: 0;
    z-index: -1;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/* Keyframes */
@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #333;
    }
}

/* Keyframes */
@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: #eee;
        border-radius: 100%;
    }
    100% {
        background: #aaa;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}
/* -------------------------------------------------------------------------- */
/*                                 Backgrounds                                */
/* -------------------------------------------------------------------------- */

/* Blend an image top to bottom */
.image-mask {
    mask-image: linear-gradient(
        to top,
        transparent 0%,
        white 10%,
        white 90%,
        transparent 100%
    );
}

/* -------------------------------------------------------------------------- */
/*                                Site Specific                               */
/* -------------------------------------------------------------------------- */
